<nav class="layout-footer footer bg-white">
    <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
        <div class="pt-3">
            <span class="footer-text font-weight-semibold">&copy; <a href="mailto:codeysandeep@gmail.com"
                    class="footer-link" target="_blank">Codey Sandeep</a>
            </span>
        </div>
        <div class="footer-links">
            <a href="https://www.linkedin.com/in/ersandeepahirwar/" class="footer-link pt-3">Linkedin</a>
            <a href="https://github.com/ersandeepahirwar" class="footer-link pt-3 ml-4">GitHub</a>
            <a href="https://twitter.com/codeysandeep" class="footer-link pt-3 ml-4">Twitter</a>
        </div>
    </div>
</nav>